.transfer-tag
  border-radius 2px
  padding 0 2px
  border 1px solid var(--sp-border)
  background var(--sp-flat-background)
  box-shadow none
.transfer-status-init
  color var(--primary)
.transfer-status-started
  color var(--success)
.transfer-status-error
  color var(--error)
