
.error-wrapper
  background var(--main)
  height 100%
  width 100%
  box-sizing border-box
  position fixed
  overflow-y scroll
  color var(--text)

.sp-safe-error-diagnostic
  max-width 720px
  border 1px solid var(--main-darker)
  border-radius 6px
  background var(--main-light)

#container
  .xterm
    padding 10px
  .session-batch-active
    .xterm-screen
      &::before
        font-size 30vmin
        font-weight bold
        color var(--text)
        display flex
        justify-content center
        align-items center
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        z-index -1
